@use "../utilitarios" as *;

.conteudo{
    background-color: $ciano-cinza-claro1;
    height: 100vh;
    @include flex-cc;
    flex-direction: column;
    @include mini-celular{
        display: block;
    }
    @include celular{
        display: block;
    }
    &__titulo-conteiner{
        @include celular{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        padding-top: 2rem;
        }
        @include mini-celular{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px;
            padding-top: 2rem;
            }
    }
    &__titulo{
        margin-bottom: 3rem;
    }

}