@use "../utilitarios" as *;

.splitter{

    &__bill{
        font-size: 1rem;
        @include Space-mono-700;;
        color: $ciano-cinza;
        margin-left: 2rem;
    }
    &__conteiner-text{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 0.5rem;
    }
    &__conteiner-input-1{
        display: flex;
        align-items: center;
        margin-left: 1.4rem;
        

            &::before{
                content: url(../images/icon-dollar.svg);
                position: relative;
                bottom:13px;
                left: 2rem;
                
                
            }
    }
    &__input-mensagem{
        @include Space-mono-700;
        color: red;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        &:last-child{
            margin-bottom: 0rem;

        }
    }
    &__input-mensagem-2{
        @include Space-mono-700;
        color: red;
        font-size: 1rem;
    }
    &__conteiner-input-2{
        display: flex;
        align-items: center;
        margin-left: 1.3rem;
                
        
            &::before{
                content: url(../images/icon-person.svg);
                position: relative;
                left: 2rem;
                        
                        
        }

    }
    &__input{
        margin-bottom: 2rem;
        height: 45.59px;
        width: 100%;
        border: none;
        background-color: $ciano-cinza-claro2;
        border-radius: 5px;
        @include Space-mono-700;
        font-size: 1.6rem;
        text-align: right;
        &:hover{
            cursor: pointer;
        }
    

    }

    &__tip{
        @include Space-mono-700;
        color: $ciano-cinza;
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;

    }
    &__itens{
        display: flex;
        flex-wrap: wrap;
        margin-left: 2rem;
        width: 96%;

    }
    &__item{
        margin-bottom: 1.2rem;
        width: 33.3%;
        @include mini-celular{
            width: 50.0%;
            &:nth-child(2){
                margin-right: 0;
            }
            &:nth-child(4){
                margin-right: 0;
            }
        }
        @include celular{
            width: 50.0%;
            &:nth-child(2){
                margin-right: 0;
            }
            &:nth-child(4){
                margin-right: 0;
            }
        }
        

    }
    &__botao-p{
        background-color: $ciano-escuro;
        width: calc(100% - 1rem);
        @include Space-mono-700;
        border: none;
        color: $branco;
        border-radius: 5px;
        font-size: 1.6rem;
        padding: 0.3rem 0rem;
        text-align: center;
        @include celular{
            width: calc(100% - 1rem);
        }
    
        
        &:hover{
            background-color: $ciano-cinza-claro1;
            color: $ciano-cinza;
            cursor: pointer;
            
        }


    }

    &__botao-p-input{
        height: 45.59px;
        width: calc(100% - pxToRem(18));
        border: none;
        background-color: $ciano-cinza-claro2;
        border-radius: 5px;
        @include Space-mono-700;
        font-size: 1.6rem;
        text-align: right;
        &::before{
            content: url(../../images/);
        }
        &::placeholder {
            text-align: center;
            @include tablet{
                font-size: 1.0rem;
            }
          }
          &:hover{
            cursor: pointer;
        }
         
        
    }
    &__numberof{
        @include Space-mono-700;
        color: $ciano-cinza;
        font-size: 1rem;
        margin-top: 1rem;
        margin-left: 2rem;
        

    }
    &__input-2{
        height: 45.59px;
        width: 100%;
        border: none;
        background-color: $ciano-cinza-claro2;
        border-radius: 5px;
        @include Space-mono-700;
        font-size: 1.6rem;
        text-align: right;
        &:hover{
            cursor: pointer;
        }
}
}
.error{
    box-shadow: 0px 0px 0px 2px red;
    outline: 0;
    
}